body{
    text-align: center;
    background-image: url(../images/pink_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.transBox{
    background-color: rgba(199, 138, 148, 0.2);
    padding: 30px;
    border-radius: 40px;
}

input{
    margin-left: 15px;
    margin-right: 5px;
}

h1{
    font-family: 'Petit Formal Script', cursive;
    font-size: 90px;
}

.container{
    margin-top: 100px;
}



