body{
    text-align: center;
    background-image: url(../images/stars.png);
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    margin-left: 15px;
    margin-right: 5px;
}

h1{
    font-family: 'Petit Formal Script', cursive;
    font-size: 90px;
}

.container{
    margin-top: 100px;
}


